amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
boto==2.43.0
boto3==1.4.7
botocore==1.7.24
celery==3.1.24
certifi==2016.2.28
click==6.7
Cython==0.25.2
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.10.2
django-auth0==0.0.3
django-autocomplete-light==3.2.1
django-celery==3.1.17
django-compat==1.0.13
django-cors-headers==1.1.0
django-freshdesk==0.2.2
django-hijack==2.1.2
django-hijack-admin==2.1.2
django-storages==1.5.1
django-tastypie==0.13.3
djrill==2.1.0
docutils==0.14
enum34==1.1.2
feedparser==5.2.1
first==2.0.1
futures==3.1.1
gunicorn==19.6.0
html5lib==1.0b8
idna==2.0
ipaddress==1.0.16
jmespath==0.9.3
kombu==3.0.37
Logentries==0.15
lxml==3.6.4
packaging==16.8
Pillow==2.9.0
pip-tools==1.9.0
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
pyparsing==2.2.0
PyPDF2==1.25.1
python-dateutil==2.5.3
python-freshdesk==1.0.0
python-mimeparse==1.6.0
pytz==2016.7
redis==2.10.5
reportlab==3.2.0
request==0.0.2
requests==2.12.4
s3transfer==0.1.11
six==1.10.0
South==1.0.2
sqlparse==0.2.1
whitenoise==3.2.2
xhtml2pdf==0.0.6
